#board {
  padding: 1px;
  background-color: #eee;
  width: 120px;
}

.row {
  line-height: 10px;
}

.cell-dead, .cell-live {
  width: 10px;
  height: 10px;
  margin: 1px;
  display: inline-block;
}

.cell-dead {
  background-color: white;
}

.cell-live {
  background-color: blue;
}

#start {
  margin-top: 5px;
}

#start button {
  margin-right: 5px;
}
